<h1 style="text-align:center">Email content</h1>
<div class="container">
  <form action="foo" method="POST">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input name="email_adress" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Textarea</label>
      <textarea name="text" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="form-check">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>


